<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Deny direct access to all files in the root except index.php
    RewriteCond %{REQUEST_URI} ^/[^/]+$
    RewriteCond %{REQUEST_URI} !^/index\.php$
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [F,L]

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ public/index.php [L]
</IfModule>