@media screen and (max-width : 1399px) {
    .navigation .stellarnav ul>li {
        margin: 0 30px 0 0;
    }

    .banner .bannerWrap .bannerText h1 {
        font-size: 50px;
    }

    .banner .bannerWrap .bannerText h4 {
        font-size: 26px;
    }

    .banner .bannerWrap .bannerText p {
        font-size: 16px;
    }

    .feature-sec .featureInfo h2 {
        font-size: 36px;
    }

    .feature-sec .featureInfo p,
    .feature-sec .featureInfo a,
    .featureListBox p,
    .howItWorkBox .text p {
        font-size: 16px;
    }

    .featureListBox .ttl {
        gap: 10px;
    }

    .featureListBox .ttl .text h3 {
        font-size: 20px;
    }

    .howItWork-sec h2 {
        font-size: 36px;
    }

    .howItWorkBox .tham.fstImg img {
        max-width: 200px;
    }

    .howItWorkBox .text {
        padding: 20px 0px 0;
    }

    .howItWorkBox .text h4 {
        font-size: 22px;
    }

    .goals-sec .goalsWrap h2 {
        font-size: 46px;
    }

    .goals-sec .goalsWrap p {
        font-size: 18px;
    }

    .finances-sec .finances-text h2 {
        font-size: 54px;
    }

    .finances-sec .finances-text h4 {
        font-size: 24px;
    }

    .finances-sec .finances-text p {
        font-size: 18px;
    }

    .footer {
        padding: 50px 0 0;
    }

    .faqWrap .tab-content .faqText p {
        font-size: 16px;
    }

    .faqWrap .nav button {
        font-size: 16px;
    }
}

@media screen and (max-width : 1199px) {
    .navigation .stellarnav ul>li {
        margin: 0 20px 0 0;
    }

    .featureListBox .ttl {
        gap: 10px;
        margin-bottom: 15px;
    }

    .featureListBox {
        padding: 15px;
    }

    .featureListBox .ttl .icon {
        max-width: 30px;
    }

    .featureListBox .ttl .text h3 {
        font-size: 18px;
    }

    .feature-sec .featureInfo h2 {
        font-size: 32px;
    }

    .banner .bannerWrap .bannerText h1 {
        font-size: 38px;
    }

    .banner .bannerWrap .bannerText h6,
    .feature-sec .featureInfo h6,
    .goals-sec .goalsWrap h6 {
        font-size: 16px;
    }

    .banner .bannerWrap .bannerText h4 {
        font-size: 21px;
    }

    .howItWorkBox .tham.fstImg img {
        max-width: 153px;
    }

    .howItWork-sec .col-lg-4:last-child .howItWorkBox .tham img {
        max-width: 185px;
    }

    .howItWorkBox {
        padding: 20px 15px;
    }

    .howItWorkBox .text h4 {
        font-size: 19px;
    }

    .goals-sec .goalsWrap h2 {
        font-size: 42px;
    }

    .goals-sec .goalsWrap p {
        font-size: 16px;
    }

    .sitebtn {
        font-size: 16px;
        padding: 14px 50px 14px 20px;
    }

    .sitebtn .btnArrow {
        width: 24px;
        height: 24px;
        font-size: 14px;
    }

    .finances-sec .finances-text h2 {
        font-size: 46px;
    }

    .finances-sec .finances-text h4 {
        font-size: 20px;
    }

    .finances-sec .finances-text p {
        font-size: 16px;
    }

    .faq-sec h2 {
        font-size: 36px;
    }

    .testimonial-sec h2 {
        font-size: 36px;
    }
}

@media screen and (max-width : 1024px) {}

@media screen and (max-width : 950px) {}

@media screen and (max-width : 991px) {
    .header {
        padding: 20px 0 0;
    }

    .banner .bannerWrap .bannerText h1 {
        font-size: 30px;
    }

    .banner .bannerWrap .bannerText h6,
    .feature-sec .featureInfo h6,
    .goals-sec .goalsWrap h6 {
        font-size: 14px;
    }

    .banner .bannerWrap .bannerText h4 {
        font-size: 18px;
    }

    .banner .bannerWrap {
        padding: 80px 15px 50px;
    }

    .feature-sec .featureInfo h2 {
        font-size: 28px;
    }

    .feature-sec {
        padding: 50px 0;
    }

    .feature-sec .featureInfo {
        margin-bottom: 30px;
    }

    .howItWork-sec {
        padding: 0 0 40px;
    }

    .goals-sec {
        padding: 40px 0;
    }

    .goals-sec .goalsWrap h2 {
        font-size: 28px;
    }

    .goals-sec .goalsWrap p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .sitebtn {
        font-size: 14px;
        padding: 12px 40px 12px 12px;
    }

    .sitebtn .btnArrow {
        width: 22px;
        height: 22px;
        font-size: 12px;
        line-height: 1;
        right: 10px;
    }

    .faq-sec {
        padding: 40px 0;
    }

    .howItWork-sec h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .faqWrap .tab-content .faqText {
        padding: 30px 15px 30px 60px;
    }

    .faqWrap .nav button {
        font-size: 14px;
        padding: 12px 10px 12px 40px;
    }

    .faqWrap .nav button::after {
        width: 16px;
        height: 16px;
        left: 12px;
    }

    .faqWrap .tab-content .faqText p {
        font-size: 14px;
    }

    .finances-sec .finances-text h2 {
        font-size: 32px;
        margin-bottom: 15px;
    }

    .finances-sec .finances-text p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .footer {
        padding: 40px 0 0;
    }

    .footer .copyRight {
        margin-top: 20px;
    }

    .footer .ft-box p,
    .footer .ft-box ul li a {
        font-size: 14px;
    }

    .footer .ft-box h3 {
        margin: 0 0 15px;
    }

    .howItWork-sec .col-lg-4:nth-child(2) .howItWorkBox .tham img {
        max-width: 199px;
    }

    .testimonial-sec h2 {
        font-size: 32px;
    }

    .faq-sec h2 {
        font-size: 32px;
    }
}

@media screen and (max-width : 767px) {
    .faqWrap .tab-content .faqText h4 {
        font-size: 18px;
        margin: 0 0 20px;
    }

    .finances-sec .finances-text {
        padding: 40px 0;
    }

    .howItWorkBox {
        margin-bottom: 20px;
    }

    .howItWorkBox .tham.fstImg img,
    .howItWork-sec .col-lg-4:nth-child(2) .howItWorkBox .tham img,
    .howItWork-sec .col-lg-4:last-child .howItWorkBox .tham img {
        max-width: 200px;
    }

    .howItWork-sec .col-lg-4:last-child .howItWorkBox {
        margin-bottom: 0;
    }

    .howItWork-sec h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .footer .ft-logo {
        margin-bottom: 20px;
    }

    .ft-box {
        margin-bottom: 20px;
    }

    .footer .copyRight {
        margin-top: 0px;
    }

    .banner .bannerWrap {
        padding: 50px 15px 30px;
        flex-direction: column;
    }

    .banner .bannerWrap .bannerText {
        max-width: 100%;
        margin-top: 30px;
    }

    .banner .bannerWrap .bannerImg {
        max-width: 320px;
    }

    .header .header-wrap .hd-right-side .book-btn {
        font-size: 14px;
    }

    .faq-sec h2 {
        font-size: 28px;
    }

    .goals-sec,
    .faq-sec {
        padding: 20px 0;
    }

    .howItWork-sec {
        padding-bottom: 20px;
    }

    .howItWorkBox {
        height: auto !important;
    }

    .feature-sec {
        padding: 30px 0px;
    }

    .faq-sec h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .testimonial-sec h2 {
        font-size: 30px;
    }
}

@media screen and (max-width : 575px) {
    .faq-sec .faqWrap .d-flex.align-items-center {
        flex-direction: column;
    }

    .faqWrap .nav {
        width: 100%;
        margin: 0 0 10px !important;
    }

    .faqWrap .tab-content .faqText {
        padding: 30px 15px 30px 15px;
    }

    .faqWrap .tab-content {
        width: 100%;
        margin: 0;
        min-height: auto;
    }

    .goals-sec .goalsImg {
        display: none;
    }

    .goals-sec .goalsWrap {
        padding: 0 15px;
    }

    .header .header-wrap .hd-right-side {
        margin: 0 0 0 15px;
    }

    .header .logo {
        max-width: 120px;
    }

    .faqWrap .tab-content .faqText p:last-child {
        margin-bottom: 0;
    }

    .finances-sec .finances-text h2 {
        font-size: 30px;
    }

    .footer .ft-logo {
        max-width: 120px;
    }

    .footer .ft-box h3 {
        margin: 0 0 10px;
    }

    .testimonial-sec h2,
    .faq-sec h2 {
        font-size: 28px;
    }

    .testimonial-sec .testimonialWrap .testimonialBox {
        padding: 190px 15px 40px;
    }
}
